@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,500;0,600;0,700;0,800;0,900;1,100;1,500;1,600;1,900&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    
}

body {
    width: 100vw;
    height: 100vh;
    
    display: flex;
    
    
}


.sidebar {
    background-color: aqua;
    flex: 10%;
    background: #FFF;
    box-shadow: 0px 4px 64px 0px rgba(0, 0, 0, 0.10);
}

.sidebar img {
    width: 100%;
    height: auto;

}

.munu-icon{
    display: none;
}

.sildebar-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 2rem;
}

.menu-item {
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}


.main-section {
    flex: 90%;
    display: flex;
    flex-direction: column;
    
    align-items: center;
    position: relative;

}

.dashboard-header{
    width: 100%;
    height: 200px;
    flex-shrink: 0;
    border-radius: 0px 0px 0px 100px;
background: linear-gradient(180deg, #61439A 0%, #E6BFFF 100%);
}

.dashboard-header{
    display: flex ;
    justify-content: space-around;
    align-items: center  ;
}

.dashboard-header h2 {
    color: white;
    font-size: 2rem;
}


.addres-btn{
    padding: 1rem;
     border-radius: 10px; font-weight: 600; color:black;
     border : none;
}


.addres-btn p {
    opacity: 80%;
}
.sos{
   
    width: 450px;
    height: 450px; 
    border-radius: 50%;
    margin: 1rem auto ;
border: 50px solid rgba(251, 94, 44, 0.25);

}

.sos div{
    width: 100%;
    height: 100%;
    border-radius: 50%;
  background-color: #FB5E2C;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 2rem;


    
}


.cancel-btn{
    color: white;
    padding: .5rem 2rem;
    background-color: #61439A;
    margin: 1rem 0 ;
}

#modal::backdrop{
    opacity: 50%;
    background-image: linear-gradient(to right , rgb(47, 42, 42) , rgb(216, 219, 216));
}
.modal-container{
    background-color: white;
     
    
     position: absolute;
     top : 50%;
     left: 50%;
     transform: translate(-50% , -50%);
     padding: 4rem;
     text-align: center;
     border: none;
     outline: none;
     border-radius: 15px;
     border: 2px solid rgba(0, 0, 0, 0.12);
     box-shadow: 0px 8px 4px 0px rgba(0, 0, 0, 0.12);
     
     

}

 .modal-container buuton img{
  position: absolute;
  border : 2px solid #61439A;
  border-radius: 50%;
  padding: 2px;
  top : 12px;
  right: 12px;
  width: 24px;
  height: 24px;

} 

@media screen and (max-width: 1024px) {

    .dashboard-header{
        height: 150px;
        border-radius: 0px 0px 50px 50px;
    }


 

}

@media screen and (max-width: 480px) {

    body{
        display: block;
    }
    .munu-icon{
        display: block;
        margin: 1rem;
    }
    .sidebar {
        display: flex ;
        justify-content: space-between;
        align-items: center;

    }
     .sidebar img {
        width: 40px;
        height: 32px;
     }
    .sildebar-menu {
        display: none;
    }
    .dashboard-header{
       height: auto;
        border-radius: 0 0 30px 30px ;
        flex-direction: column;
        gap: 1rem;
        padding: 1rem 0 ;
    }
   
    .dashboard-header h2 {
        font-size: 1rem;
    }
  
    .addres-btnn{
        padding: 0.2rem .5rem;
         border-radius: 10px; font-weight: 500; color:black;
          border : 1px solid black;
    }
  
    .sos{
        width: 300px;
        height: 300px;
    }
}