@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,500;0,600;0,700;0,800;0,900;1,100;1,500;1,600;1,900&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
   
}

body{
    width: 100vw;
    height: 100vh;
    display: flex; 
}


.img-login{
    flex: 1;
    background-image: url("../images/login_image.png");
    background-size: cover;
}

.success-message{
    color: green;
}

.error-message{
    color: red;
}
.container{
    flex : 1;
    
background: linear-gradient(180deg, #61439A 0%, #E6BFFF 100%);
    position: relative;

}

.form{
    position: absolute;
    top : 50%;
    left : 50%;
    transform: translate(-50% , -50%);
    border-radius: 10px;
    padding: 2rem;
border: 1px solid #FFF;
background: linear-gradient(156deg, #FFF 0%, rgba(255, 255, 255, 0.50) 99.49%);
box-shadow: 0px 4px 64px 0px rgba(0, 0, 0, 0.05);
backdrop-filter: blur(50px);
}

.form-text{

    font-size : 1.5rem;
    font-weight: 300;
}

.form-title{
    font-size: 2rem;
    font-weight: 500;
}

.form-field{
    display: flex;
width: 423px;
height: 92px;
flex-direction: column;
justify-content: center;
align-items: flex-start;
gap: 9px;
flex-shrink: 0;
margin: .5rem 0 ;
}

.form-field label {
  
}

.form-field input {
   width: 100%;
   border-radius: 6px;
   padding: 1rem;
border: 0.6px solid #282828;
background: #FFF;
}


.flex-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0 ;
}

.form-check{
    display: flex;
    align-items: center;
    gap: .5rem;
}

.form-check label {
    font-size: 0.8rem;
}

.flex-div a {
    font-size: 0.8rem;
}


.login-btn{
   color: white;
    border-radius: 6px;
    border: none;
background: #61439A;
width: 100%;
padding: .5rem 0;
margin:  1rem 0 ;

}


@media screen and (max-width: 1024px) {
    .img-login{
       display: none;
     }
     .form{
        width: 80%;
     }
     .form-field{
        width: auto;
       

     }
     
  } 

  @media screen and (max-width: 480px) {
    .img-login{
       display: none;
     }
     .form{
        width: 100%;
     }
     .form-field{
        width: 100%;


     }
     
     
.form-check{
    gap: 0.1rem;
}

.form-check label {
    font-size: 0.6rem;
}

.flex-div a {
    font-size: 0.6rem;
}
     
  } 